# Arquivos e diretórios específicos do Maven
target/
.mvn/
mvnw
mvnw.cmd
release.properties
*~

# Logs
*.log
logs/

# Arquivos de compilação Java
*.class

# Arquivos de compilação
bin/
build/
.gradle/

# Arquivos de configuração IDEA
.idea/

# Arquivos de compilação Eclipse
.settings/
.project
.classpath
.metadata/

# Arquivos de saída da IDE
*.iml
*.ipr
*.iws

# Arquivos temporários
*.swp

# Arquivos de configuração do Visual Studio Code
.vscode/

# Gradle Wrapper
gradle-wrapper.jar
gradle-wrapper.properties
gradlew.bat
gradlew

# Arquivos do apache-jena
apache-jena-4.10.0